{% load static %}
<html>
    <head>
        <title>Student Information</title>
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Student Information</a></h1>
            <span><a href="{% url 'dashboard' %}">Dashboard</a></span>
            <span><a href="{% url 'students' %}">Students</a></span>
            <span><a href="{% url 'courses' %}">Courses</a></span>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
