{% extends 'enrollment_base.html' %}

{% block enrollment_content %}

    <form method="POST" action = "enroll">{% csrf_token %}

        <label for="enroll">Enrolled Courses</label>
        <p>Course 1:
        <select type="text" id="course1" name="course1" onChange="form.submit();">
            <option value="-1">None</option>
            {% for course in courses %}
                {% if course != object.course2 and course != object.course3 %}
                    <option
                        value="{{ course.id }}"
                        {% if course == object.course1 %} selected {% endif %}
                    >{{ course.name }}</option>
                {% endif %}
            {% endfor %}
        </select></p>
        <p>Course 2:
        <select type="text" id="course2" name="course2" onChange="form.submit();">
            <option value="-1">None</option>
            {% for course in courses %}
                {% if course != object.course1 and course != object.course3 %}
                    <option
                        value="{{ course.id }}"
                        {% if course == object.course2 %} selected {% endif %}
                    >{{ course.name }}</option>
                {% endif %}
            {% endfor %}
        </select></p>
        <p>Course 3:
        <select type="text" id="course3" name="course3" onChange="form.submit();">
            <option value="-1">None</option>
            {% for course in courses %}
                {% if course != object.course1 and course != object.course2 %}
                    <option
                        value="{{ course.id }}"
                        {% if course == object.course3 %} selected {% endif %}
                    >{{ course.name }}</option>
                {% endif %}
            {% endfor %}
        </select></p>
    </form>

{% endblock %}
