{% extends 'base.html' %}

{% block content %}

    <form method="POST" action = "select_student">{% csrf_token %}
        <label for="pk">Student</label>
        <select type="text" id="pk" name="pk" onChange="form.submit();">
            {% for student in students %}
                <option
                    {% if student.id == object.id %} selected {% endif %}
                    value="{{ student.id }}"
                >{{ student.last_name }}, {{ student.first_name }}</option>
            {% endfor %}
        </select>
    </form>

    {% block enrollment_content %}
    {% endblock %}

{% endblock %}
